@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

nav a {
  padding: 5px 10px;
  border-radius: 8px;
}
nav a:hover {
  background-color: bisque;
  color: black;
}

.logo {
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}
.tech img {
  width: 40px;
}
.beam-head-header {
  counter-reset: ctr;
}
.beam {
  display: flex;
  align-items: baseline;
}
.beam::before {
  content: counter(ctr, decimal-leading-zero) '.';
  counter-increment: ctr;
  display: block;
  font-family: var(--font-1);
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1;
  color: var(--color-1);
  margin-right: var(--vspace-0_25);
  margin-bottom: var(--vspace-0_25);
}
@media screen and (max-width: 450px) {
  .social {
    position: sticky;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.185);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }
}
@media screen and (max-width: 750px) {
  .social {
    position: sticky;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.185);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }
}
